body{
    
    margin: 0px;
    padding: 0px;
  
}

/* --------------------background image------------------*/

.headerImage{
    background-image: url(../assets/images/homePageHeader.png);
    width: 100%;
    height: 50em;
    
}

.navImg img{
    position: relative;
    float: left;
    width: 266px;
    height: 48px;
    padding: 10px;
    
}

/* ---------------------background of nav-----------------*/
.navBarBackground{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    width: 85%;
    height: 75px;
    opacity: 85%;
    float: none;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    border-radius: 25px;
    
}

/* ---------------------nav bar -- jusst the home f and con-----------------*/

.linksInNav{ /* jy moet uit figure hoe om die nav bar te center always*/
    justify-content: center;
    
    text-align: center;
    width: 100%;
    padding: 15px;
    
   
}

.linksInNav a{
    display: inline;
    text-decoration: none;
    color: rgb(21, 8, 75);
    text-align: center;
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    
    
}

.linksInNav a:hover{
   
    animation-name: linkAnimation;
    animation-duration: 0.8s;
}

@keyframes linkAnimation { /*makk die animation cooler en maak hom stick*/
    from{
        background-color: none;
    }
    to{
        background-color: rgb(102, 77, 172);
        border-radius: 15px;
    }

    from{
        color: rgb(21, 8, 75);
    }
    to{
        color: white;
    }
   /*from{
    top: auto;
   }
   to{
    top: 0px;
   }
 */
}

/* ---------------------bottom font embed------------------*/
.logoSlogen {
    position: absolute;
    top: 90%;
    left: 6%;
    
    

}

.logoSlogen p{
    font-family:"Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: rgb(94, 42, 143);
    margin-top: -15px;
    padding: 0px;
}

/* figure uit hoe om die text te doen*/

.logoSlogen h1{


     font-family: "Porter Sans Block";
     font-size: 48px;
     color: red;
     
     
 
}
.ventureTitle{
    margin-top: -20px;
}

@font-face {
    font-family: 'Porter Sans Block';
    src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff)format("woff");

    
}

/* ---------------- featured page-------------------------------------------------*/

.featuredTrips{
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 30, 87);
    justify-content: space-around;
    
    align-items: center;
}

.featureImgs img{
    width: 609px;
    height: 649px;
    padding: 8%;
    margin-left: 10%;
    
}

/* paragraphhhh styling of feature flights*/
.featureTextDiv{
    margin-left: 12%;
    margin-right: 10%;
    font-family: "Poppins";
}

.featureTextDiv h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.featureParagraph{
    color: white;
    font-size: 18px;
    margin-top: -30px;
}
.ftHeading{
    
    font-size: 18px;
    color: aquamarine;
    margin-bottom: -25px;
}

.buttonBook a{
    text-decoration: none;
    font-family: "Poppins";
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
   
}

.buttonBook{
    margin-top: 10%;
}

.buttonBook a:hover{
    background-color: rgb(190, 117, 21);
}

/*
.buttonBook a:hover{
   animation-name: bookNowBtn;
   animation-duration: 0.8s;
}

@keyframes bookNowBtn {
    from{
      background-color: red;
    }
    to{
        background-color: rgb(197, 104, 16);
    }
}
*/
