.body{
    margin: 0px;
}

/* --------------------background image------------------*/

.headerImage{
    background-image: url(../assets/images/homePageHeader.png);
    width: 100%;
    height: 600px;
    margin: 0px; /* i cant seem to make it full screen */
    padding: 0%;
}

.navImg img{
    position: relative;
    float: left;
    width: 266px;
    height: 48px;
    padding: 10px;
    
}

/* ---------------------background of nav-----------------*/
.navBarBackground{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    width: 85%;
    height: 75px;
    opacity: 85%;
    float: none;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    border-radius: 25px;
    
}

/* ---------------------nav bar -- jusst the home f and con-----------------*/

.linksInNav{ /* jy moet uit figure hoe om die nav bar te center always*/
    justify-content: center;
    
    text-align: center;
    width: 100%;
    padding: 15px;
    
   
}

.linksInNav a{
    display: inline;
    text-decoration: none;
    color: rgb(21, 8, 75);
    text-align: center;
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    
    
}

.linksInNav a:hover{
   
    animation-name: linkAnimation;
    animation-duration: 0.8s;
}

@keyframes linkAnimation { /*makk die animation cooler en maak hom stick*/
    from{
        background-color: none;
    }
    to{
        background-color: rgb(102, 77, 172);
        border-radius: 15px;
    }

    from{
        color: rgb(21, 8, 75);
    }
    to{
        color: white;
    }
   /*from{
    top: auto;
   }
   to{
    top: 0px;
   }
 */
}

/* ---------------------bottom font embed------------------*/
.logoSlogan{
    position: relative;
    top: 2000px;
    

}

/* figure uit hoe om die text te doen*/

.logoSlogan p{


     font-family: "Porter Sans Block";
     font-size: 20px;
     color: red;
 
}

@font-face {
    font-family: 'Porter Sans Block';
    src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff)format("woff");
}
