.body{
    margin: 0px;
}

.headerImage{
    background-image: url(../assets/images/homePageHeader.png);
    width: 100%;
    height: 600px;
    margin: 0px; /* i cant seem to make it full screen */
    padding: 0%;
}

.navImg img{
    position: relative;
    float: left;
    width: 266px;
    height: 48px;
    padding: 10px;
    
}
.navBarBackground{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    width: 85%;
    height: 75px;
    opacity: 85%;
    float: none;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    border-radius: 25px;
    
}

.linksInNav{

    text-align: center;
    width: 100%;
    padding: 15px;
    
   
}

.linksInNav a{
    display: inline;
    text-decoration: none;
    color: rgb(21, 8, 75);
    text-align: center;
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    
    
}

.linksInNav a:hover{
    color: rgb(219, 11, 11);
    animation-name: linkAnimation;
    animation-duration: 0.8s;
}

@keyframes linkAnimation {
    from{
        background-color: none;
    }
    to{
        background-color: rgb(102, 77, 172);
        border-radius: 15px;
    }

    from{
        color: rgb(21, 8, 75);
    }
    to{
        color: white;
    }
   /*from{
    top: auto;
   }
   to{
    top: 0px;
   }
 */
}